<section class="bg-white p-8">
  <h2>Liskov Substitution Principle (LSP):</h2>
  <p>
    Subtypes should be substitutable for their base types. This means that a
    derived class should be able to be used in place of its base class without
    causing any unexpected behavior.
  </p>
  <section class="mt-4">
    <h3 class="mb-4 font-bold">Example:</h3>
    <div class="mt-4">
      <app-code-block [tsText]="Linterface"> </app-code-block>
    </div>
    <div class="mt-4">
      <app-code-block [data]="example"> </app-code-block>
    </div>
  </section>
</section>
